:root {
    --primary-box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    --border-white: rgb(232, 232, 232);
    --primary-bg: rgb(255, 255, 255);
    --zomato-gray: #828282;
    --zomato-red: #ff7e8b;
    --gray: rgb(207, 207, 207);
    --inactive-text: #696969;
    --inactive-color: #F8F8F8;
    --filter-text: #9C9C9C;
}